{% load static %}
<!DOCTYPE html>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->

<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" type="text/css" />
<script src="{% static 'js/materialize.min.js' %}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


<head>

</head>
<body>



    <div class="parallax-container">
    <div style="position: absolute;padding-left: 100px;color: white;opacity: 0.5rem;display: inline;float: left">
    <h1>Add important events easily</h1>
    <p class="flow-text">
      Some text to explain that using this feature is so awesome !
    </p>
    </div>
    <div class="parallax"><img src="{% static '/img/awesome.png' %}"></div>
    </div>

<!-- <div class="row" style="padding: 40px;" style="width: 100%; height: 100%;position: absolute; top: 0; left: 0;">
<div class="col s6">
<h1>Mythical Calendar</h1>
<p class="flow-text">Mythical Calendar is a Django based project which helps you to track your events and save them easily in your Google Calendar</p>
</div>
<div class="col s6">
    <img src="{% static '/img/logo.png' %}" class= "parallax" height="50%" align="right">
</div>
</div>
 -->


    <div class="parallax-container">
    <img src="{% static '/img/bg-red.png' %}" style="position: absolute">
    <div style="position: absolute;padding-left: 100px;color: white;opacity: 0.5rem;display: inline;float: left">
    <h1>Add important events easily</h1>
    <p class="flow-text">
      Some text to explain that using this feature is so awesome !
    </p>
    </div>
    <img src="{% static '/img/event.png' %}" style="float: right;padding-right: 100px;padding-top: 200px">
      <div class="parallax"><img src="{% static '/img/cal.png' %}"></div>
    </div>


<div class="container">
<h1>We don't share your data and you can see every code in our github repository</h1>
</div>
    


<script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>
<style>
.paraa {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}


</style>
</body>
</html>
